<launch>
  <!-- Shared integration: MORAI UDP driving stack + one UDP LiDAR pipeline. -->
  <arg name="lidar_launch" />
  <arg name="workspace_path" default="$(env HOME)/morai_ws" />
  <arg name="path_file" default="$(find morai_bringup)/../../../data/routes/2026_molit_comp_global_path.txt" />
  <arg name="bind_ip" default="0.0.0.0" />
  <arg name="gps_port" default="3001" />
  <arg name="imu_port" default="4001" />
  <arg name="competition_status_host_port" default="9080" />
  <arg name="competition_status_port" default="9081" />
  <arg name="ego_status_port" default="$(arg competition_status_port)" />
  <arg name="lidar_host_port" default="2000" />
  <arg name="lidar_port" default="2001" />
  <arg name="morai_host_ip" default="192.168.0.148" />
  <arg name="control_remote_port" default="9093" />
  <arg name="control_source_port" default="9094" />
  <arg name="wheelbase_m" default="3.0" />
  <arg name="lidar_x_m" default="0.0" />
  <arg name="lidar_y_m" default="0.0" />
  <arg name="lidar_yaw_deg" default="0.0" />
  <arg name="target_speed_mps" default="6.0" />
  <arg name="enable_control" default="false" />
  <arg name="rviz" default="true" />
  <arg name="merge_available_topic" default="/perception/merge_gap/available" />
  <arg name="merge_unavailable_topic" default="/perception/merge_gap/unavailable" />
  <arg name="merge_highway_gate_required" default="false" />
  <arg name="highway_gate_topic" default="/perception/camera/highway_environment" />
  <arg name="pedestrian_stop_topic" default="/perception/pedestrian_crossing/stop_required" />

  <include file="$(find morai_bringup)/launch/morai_udp_ekf_purepursuit.launch">
    <arg name="workspace_path" value="$(arg workspace_path)" />
    <arg name="path_file" value="$(arg path_file)" />
    <arg name="bind_ip" value="$(arg bind_ip)" />
    <arg name="gps_port" value="$(arg gps_port)" />
    <arg name="imu_port" value="$(arg imu_port)" />
    <arg name="competition_status_host_port" value="$(arg competition_status_host_port)" />
    <arg name="ego_status_port" value="$(arg ego_status_port)" />
    <arg name="morai_host_ip" value="$(arg morai_host_ip)" />
    <arg name="control_remote_port" value="$(arg control_remote_port)" />
    <arg name="control_source_port" value="$(arg control_source_port)" />
    <arg name="wheelbase_m" value="$(arg wheelbase_m)" />
    <arg name="target_speed_mps" value="$(arg target_speed_mps)" />
    <arg name="enable_control" value="$(arg enable_control)" />
    <arg name="pedestrian_stop_topic" value="$(arg pedestrian_stop_topic)" />
  </include>

  <include file="$(find lidar_perception)/launch/$(arg lidar_launch)">
    <arg name="rviz" value="$(arg rviz)" />
    <arg name="bind_ip" value="$(arg bind_ip)" />
    <arg name="host_port" value="$(arg lidar_host_port)" />
    <arg name="destination_port" value="$(arg lidar_port)" />
    <arg name="odometry_topic" value="/localization/odometry" />
    <arg name="merge_available_topic" value="$(arg merge_available_topic)" />
    <arg name="merge_unavailable_topic" value="$(arg merge_unavailable_topic)" />
    <arg name="merge_highway_gate_required" value="$(arg merge_highway_gate_required)" />
    <arg name="highway_gate_topic" value="$(arg highway_gate_topic)" />
    <arg name="lidar_x_m" value="$(arg lidar_x_m)" />
    <arg name="lidar_y_m" value="$(arg lidar_y_m)" />
    <arg name="lidar_yaw_deg" value="$(arg lidar_yaw_deg)" />
  </include>
</launch>
