<launch>
  <!-- Merge-space monitor only. The tracking pipeline must already be running. -->
  <arg name="vehicle_length_m" default="4.635" />
  <arg name="vehicle_width_m" default="1.892" />
  <arg name="vehicle_height_m" default="2.434" />
  <arg name="lane_width_m" default="3.5" />
  <arg name="longitudinal_margin_m" default="1.0" />
  <arg name="time_headway_s" default="1.5" />
  <arg name="minimum_ttc_s" default="3.0" />
  <arg name="confirmation_scans" default="3" />
  <arg name="status_topic" default="/perception/merge_gap/status" />
  <arg name="map_obstacle_topic" default="/perception/lidar/tracked_obstacles_map" />
  <arg name="map_obstacle_timeout_s" default="0.5" />

  <node pkg="lidar_perception"
        type="lidar_merge_gap_node.py"
        name="lidar_merge_gap"
        output="screen">
    <param name="input_topic" value="/morai/lidar/tracking/results" />
    <param name="result_topic" value="/morai/lidar/merge_gap/results" />
    <param name="marker_topic" value="/morai/lidar/merge_gap/markers" />
    <param name="status_topic" value="$(arg status_topic)" />
    <param name="map_obstacle_topic" value="$(arg map_obstacle_topic)" />
    <param name="map_frame" value="map" />
    <param name="map_obstacle_timeout_s" value="$(arg map_obstacle_timeout_s)" />
    <param name="vehicle_length_m" value="$(arg vehicle_length_m)" />
    <param name="vehicle_width_m" value="$(arg vehicle_width_m)" />
    <param name="vehicle_height_m" value="$(arg vehicle_height_m)" />
    <param name="lane_width_m" value="$(arg lane_width_m)" />
    <param name="lane_lateral_allowance_m" value="0.4" />
    <param name="longitudinal_margin_m" value="$(arg longitudinal_margin_m)" />
    <param name="lateral_margin_m" value="0.2" />
    <param name="detection_range_m" value="40.0" />
    <param name="time_headway_s" value="$(arg time_headway_s)" />
    <param name="minimum_ttc_s" value="$(arg minimum_ttc_s)" />
    <param name="confirmation_scans" value="$(arg confirmation_scans)" />
    <param name="stale_timeout_s" value="0.5" />
    <param name="log_interval_s" value="1.0" />
  </node>
</launch>
