<launch>
    <arg name="mgeo_dir" default="$(find path_planning)/mgeo/R_KR_PR_K-city_2025"/>
    <arg name="interactive" default="true"/>
    <arg name="use_odom_start" default="true"/>
    <arg name="start_node" default="A1256W000437"/>
    <arg name="goal_node" default=""/>
    <arg name="goal_topic" default="/move_base_simple/goal"/>
    <arg name="clicked_point_topic" default="/clicked_point"/>
    <arg name="goal_search_count" default="20"/>
    <arg name="odom_topic" default="/odom"/>
    <arg name="rviz" default="true"/>

    <node pkg="path_planning" type="mgeo_json_pub.py" name="kcity_mgeo_pub" output="screen">
        <param name="mgeo_dir" value="$(arg mgeo_dir)"/>
        <param name="frame_id" value="map"/>
        <param name="node_topic" value="node"/>
        <param name="link_topic" value="link"/>
    </node>

    <node pkg="path_planning" type="global_path_kcity_dijkstra.py" name="global_path_kcity_dijkstra" output="screen">
        <param name="mgeo_dir" value="$(arg mgeo_dir)"/>
        <param name="frame_id" value="map"/>
        <param name="start_node" value="$(arg start_node)"/>
        <param name="goal_node" value="$(arg goal_node)"/>
        <param name="interactive" value="$(arg interactive)"/>
        <param name="use_odom_start" value="$(arg use_odom_start)"/>
        <param name="goal_topic" value="$(arg goal_topic)"/>
        <param name="clicked_point_topic" value="$(arg clicked_point_topic)"/>
        <param name="goal_search_count" value="$(arg goal_search_count)"/>
        <param name="odom_topic" value="$(arg odom_topic)"/>
        <param name="topic" value="/global_path"/>
    </node>

    <group if="$(arg rviz)">
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find auto_driving)/rviz/final.rviz"/>
    </group>
</launch>
