<launch>
    <arg name="ego_topic" default="/Ego_topic"/>
    <arg name="sample_distance" default="0.5"/>
    <arg name="output_file" default="$(find path_planning)/data/morai_global_path.csv"/>
    <arg name="append" default="false"/>

    <node pkg="path_planning"
          type="morai_global_csv_recorder.py"
          name="morai_global_csv_recorder"
          output="screen">
        <param name="ego_topic" value="$(arg ego_topic)"/>
        <param name="sample_distance" value="$(arg sample_distance)"/>
        <param name="output_file" value="$(arg output_file)"/>
        <param name="append" value="$(arg append)"/>
    </node>
</launch>
