<launch>
  <arg name="rviz" default="true" />

  <arg name="bind_ip" default="0.0.0.0" />
  <arg name="host_port" default="2000" />
  <arg name="destination_port" default="2001" />

  <arg name="frame_id" default="morai_lidar" />
  <arg name="topic" default="/morai/lidar/live_points" />
  <arg name="display_topic" default="/morai/lidar/display_points" />
  <arg name="nearest_distance_topic" default="/morai/lidar/nearest_distance_m" />
  <arg name="packets_per_cloud" default="80" />
  <arg name="rolling_clouds" default="1" />
  <arg name="display_rolling_clouds" default="5" />
  <arg name="display_history_s" default="0.35" />
  <arg name="max_cloud_age_s" default="0.10" />

  <!-- Near-360 scan by default, with only the ego rear sector hidden. -->
  <arg name="fov_left_deg" default="180.0" />
  <arg name="fov_right_deg" default="180.0" />
  <arg name="rear_blind_deg" default="60.0" />
  <arg name="lidar_yaw_offset_deg" default="0.0" />

  <arg name="x_min_m" default="-40.0" />
  <arg name="x_max_m" default="40.0" />
  <arg name="y_abs_m" default="40.0" />
  <arg name="z_min_m" default="-2.5" />
  <arg name="z_max_m" default="3.0" />
  <arg name="min_distance_m" default="0.2" />

  <node pkg="path_planning"
        type="morai_lidar_pointcloud_udp.py"
        name="morai_lidar_pointcloud_udp"
        output="screen">
    <param name="bind_ip" value="$(arg bind_ip)" />
    <param name="host_port" value="$(arg host_port)" />
    <param name="destination_port" value="$(arg destination_port)" />
    <param name="frame_id" value="$(arg frame_id)" />
    <param name="topic" value="$(arg topic)" />
    <param name="display_topic" value="$(arg display_topic)" />
    <param name="nearest_distance_topic" value="$(arg nearest_distance_topic)" />
    <param name="packets_per_cloud" value="$(arg packets_per_cloud)" />
    <param name="rolling_clouds" value="$(arg rolling_clouds)" />
    <param name="display_rolling_clouds" value="$(arg display_rolling_clouds)" />
    <param name="display_history_s" value="$(arg display_history_s)" />
    <param name="max_cloud_age_s" value="$(arg max_cloud_age_s)" />
    <param name="fov_left_deg" value="$(arg fov_left_deg)" />
    <param name="fov_right_deg" value="$(arg fov_right_deg)" />
    <param name="rear_blind_deg" value="$(arg rear_blind_deg)" />
    <param name="lidar_yaw_offset_deg" value="$(arg lidar_yaw_offset_deg)" />
    <param name="x_min_m" value="$(arg x_min_m)" />
    <param name="x_max_m" value="$(arg x_max_m)" />
    <param name="y_abs_m" value="$(arg y_abs_m)" />
    <param name="z_min_m" value="$(arg z_min_m)" />
    <param name="z_max_m" value="$(arg z_max_m)" />
    <param name="min_distance_m" value="$(arg min_distance_m)" />
  </node>

  <node if="$(arg rviz)"
        pkg="rviz"
        type="rviz"
        name="morai_lidar_rviz"
        args="-d $(find path_planning)/rviz/morai_lidar_front.rviz"
        output="screen" />
</launch>
