<launch>
  <arg name="rviz" default="true" />

  <arg name="bind_ip" default="0.0.0.0" />
  <arg name="host_port" default="2000" />
  <arg name="destination_port" default="2001" />

  <arg name="frame_id" default="morai_lidar" />
  <arg name="topic" default="/morai/lidar/live_points" />
  <arg name="display_topic" default="/morai/lidar/display_points" />
  <arg name="nearest_distance_topic" default="/morai/lidar/nearest_distance_m" />
  <arg name="obstacle_topic" default="/morai/lidar/obstacles" />
  <arg name="obstacle_marker_topic" default="/morai/lidar/obstacle_markers" />
  <arg name="packets_per_cloud" default="15" />
  <arg name="rolling_clouds" default="1" />
  <arg name="display_rolling_clouds" default="10" />
  <arg name="display_history_s" default="0.30" />
  <arg name="max_cloud_age_s" default="0.05" />

  <!-- Near-360 scan by default, with only the ego rear sector hidden. -->
  <arg name="fov_left_deg" default="180.0" />
  <arg name="fov_right_deg" default="180.0" />
  <arg name="rear_blind_deg" default="60.0" />
  <arg name="lidar_yaw_offset_deg" default="0.0" />

  <arg name="x_min_m" default="-40.0" />
  <arg name="x_max_m" default="40.0" />
  <arg name="y_abs_m" default="40.0" />
  <arg name="z_min_m" default="-2.5" />
  <arg name="z_max_m" default="3.0" />
  <arg name="min_distance_m" default="0.2" />
  <arg name="ground_remove_enabled" default="true" />
  <arg name="ground_z_threshold_m" default="-1.5" />

  <!-- Nearest distance is computed from this obstacle-candidate area, not from all ground points. -->
  <arg name="nearest_x_min_m" default="1.0" />
  <arg name="nearest_x_max_m" default="40.0" />
  <arg name="nearest_y_abs_m" default="5.0" />
  <arg name="nearest_z_min_m" default="-1.2" />
  <arg name="nearest_z_max_m" default="2.5" />

  <!-- Euclidean/grid clustering parameters for obstacle candidates. -->
  <arg name="cluster_enabled" default="true" />
  <arg name="cluster_tolerance_m" default="0.8" />
  <arg name="cluster_min_points" default="5" />
  <arg name="cluster_max_clusters" default="8" />
  <arg name="cluster_max_input_points" default="5000" />
  <arg name="cluster_x_min_m" default="1.0" />
  <arg name="cluster_x_max_m" default="40.0" />
  <arg name="cluster_y_abs_m" default="8.0" />
  <arg name="cluster_z_min_m" default="-1.2" />
  <arg name="cluster_z_max_m" default="2.5" />

  <node pkg="path_planning"
        type="morai_lidar_pointcloud_udp_ground.py"
        name="morai_lidar_pointcloud_udp_ground"
        output="screen">
    <param name="bind_ip" value="$(arg bind_ip)" />
    <param name="host_port" value="$(arg host_port)" />
    <param name="destination_port" value="$(arg destination_port)" />
    <param name="frame_id" value="$(arg frame_id)" />
    <param name="topic" value="$(arg topic)" />
    <param name="display_topic" value="$(arg display_topic)" />
    <param name="nearest_distance_topic" value="$(arg nearest_distance_topic)" />
    <param name="obstacle_topic" value="$(arg obstacle_topic)" />
    <param name="obstacle_marker_topic" value="$(arg obstacle_marker_topic)" />
    <param name="packets_per_cloud" value="$(arg packets_per_cloud)" />
    <param name="rolling_clouds" value="$(arg rolling_clouds)" />
    <param name="display_rolling_clouds" value="$(arg display_rolling_clouds)" />
    <param name="display_history_s" value="$(arg display_history_s)" />
    <param name="max_cloud_age_s" value="$(arg max_cloud_age_s)" />
    <param name="fov_left_deg" value="$(arg fov_left_deg)" />
    <param name="fov_right_deg" value="$(arg fov_right_deg)" />
    <param name="rear_blind_deg" value="$(arg rear_blind_deg)" />
    <param name="lidar_yaw_offset_deg" value="$(arg lidar_yaw_offset_deg)" />
    <param name="x_min_m" value="$(arg x_min_m)" />
    <param name="x_max_m" value="$(arg x_max_m)" />
    <param name="y_abs_m" value="$(arg y_abs_m)" />
    <param name="z_min_m" value="$(arg z_min_m)" />
    <param name="z_max_m" value="$(arg z_max_m)" />
    <param name="min_distance_m" value="$(arg min_distance_m)" />
    <param name="ground_remove_enabled" value="$(arg ground_remove_enabled)" />
    <param name="ground_z_threshold_m" value="$(arg ground_z_threshold_m)" />
    <param name="nearest_x_min_m" value="$(arg nearest_x_min_m)" />
    <param name="nearest_x_max_m" value="$(arg nearest_x_max_m)" />
    <param name="nearest_y_abs_m" value="$(arg nearest_y_abs_m)" />
    <param name="nearest_z_min_m" value="$(arg nearest_z_min_m)" />
    <param name="nearest_z_max_m" value="$(arg nearest_z_max_m)" />
    <param name="cluster_enabled" value="$(arg cluster_enabled)" />
    <param name="cluster_tolerance_m" value="$(arg cluster_tolerance_m)" />
    <param name="cluster_min_points" value="$(arg cluster_min_points)" />
    <param name="cluster_max_clusters" value="$(arg cluster_max_clusters)" />
    <param name="cluster_max_input_points" value="$(arg cluster_max_input_points)" />
    <param name="cluster_x_min_m" value="$(arg cluster_x_min_m)" />
    <param name="cluster_x_max_m" value="$(arg cluster_x_max_m)" />
    <param name="cluster_y_abs_m" value="$(arg cluster_y_abs_m)" />
    <param name="cluster_z_min_m" value="$(arg cluster_z_min_m)" />
    <param name="cluster_z_max_m" value="$(arg cluster_z_max_m)" />
  </node>

  <node if="$(arg rviz)"
        pkg="rviz"
        type="rviz"
        name="morai_lidar_rviz"
        args="-d $(find path_planning)/rviz/morai_lidar_front.rviz"
        output="screen" />
</launch>
