<launch>

    <!-- ========================= -->
    <!-- Pure Pursuit Parameters   -->
    <!-- ========================= -->

    <arg name="wheel_base" default="1.04"/>
    <arg name="lookahead_distance" default="10.0"/>
    <arg name="speed" default="8.0"/>

    <!-- ========================= -->
    <!-- Pure Pursuit Node         -->
    <!-- ========================= -->

    <node pkg="path_planning"
          type="pure_pursuit_node.py"
          name="pure_pursuit_node"
          output="screen">

        <param name="wheel_base"
               value="$(arg wheel_base)"/>

        <param name="lookahead_distance"
               value="$(arg lookahead_distance)"/>

        <!-- km/h -->
        <param name="speed"
               value="$(arg speed)"/>

    </node>

</launch>
